@import url("https://fonts.googleapis.com/css?family=OpenSans");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");

.themed-container4 {
  font-style: normal;
  font-weight: 300;
  font-family: "Playfair Display";
  text-align: center;
  font-size: xxx-large;
}

#education {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.themed-container5 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: x-large;
  margin-top: 35px;
}

.themed-container6 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: x-large;
  margin-top: 0px;
}

.themed-container7 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: medium;
  margin-top: 0px;
}

.themed-container8 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: medium;
  margin-top: 0px;
  margin-bottom: 100px;
}

.my-2 {
  border: 0.2px solid black !important;
  width: 95%;
}

.themed-container9 {
  text-align: center;
  border: 0.4px solid black;
}
.my-3 {
  border: 0.4px solid black !important;
}

.aboutme {
  margin-left: 15px;
  padding: 5px !important;
  text-align: justify;
  font-size: large;
}

.ExperienceSection {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 120px;
  margin-top: 60px;
}

.EducationSection {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 120px;
  margin-top: 100px;
  margin-bottom: 10px !important;
}

.Inline {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 122px;
  margin-top: 20px !important;
  display: inline-block;
}

.Inline2 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 112px;
  margin-top: 20px !important;
  display: inline-block;
}

.Inline3 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 112px;
  margin-top: 20px !important;
  display: inline-block;
}

.Inline4 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 103px;
  margin-top: 20px !important;
  display: inline-block;
}

.InlineDescribe {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 393px;
  margin-top: -40px !important;
}

.InlineDescribe2 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 393px;
  margin-top: -50px !important;
}

.InlineDescribe3 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 393px;
  margin-top: -55px !important;
}
.InlineDescribe4 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 395px;
  margin-top: -50px !important;
}

.InlineDescribe5 {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 399px;
  margin-top: -55px !important;
}

.InlineManipal {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 145px;
  margin-top: 20px !important;
  display: inline-block;
}

.InlineDPS {
  font-style: normal;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 159px;
  margin-top: 20px !important;
  display: inline-block;
}

.comp2 {
  font-family: "Open Sans";
  font-size: xx-large;
  font-weight: 300;
  margin-top: 45px;
  opacity: 1;
}

.manipal {
  opacity: 1;
}

.powergrid {
  opacity: 1;
}

.powergrid2 {
  opacity: 1;
}

.fis {
  opacity: 1;
}

#h1 {
  font-size: medium;
  font-weight: 400;
  font-style: "Open Sans";
  margin-top: -40px !important;
}
